EMBEDDING_MODEL_NAME = "facebook/dinov2-meduim"
AI_HOST = "0.0.0.0"
AI_PORT = 8443 
QDRANT_HOST = "0.0.0.0"
QDRANT_PORT = 6333
DATA_DIR = ./data
IMAGES_PER_LABEL = 3
REQUEST_TIMEOUT = 10
MAX_RETRIES = 3
MAX_CONCURRENT_UPLOADS = 10
DEVICE = cpu
IMAGE_DIR = ./image_dir
LOG_LEVEL = INFO
QDRANT_VERSION= v1.18.2
QDRANT_GRPC_PORT=6334 
QDRANT_LOG_LEVEL = INFO
